@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Almarai:wght@700&family=Cairo:wght@400;800&family=Fuzzy+Bubbles:wght@700&family=Nanum+Gothic+Coding:wght@700&family=Roboto+Serif:wght@200;400&family=Roboto:wght@300&family=Sora:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
input {
    outline:none;
}
.products-container {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
